@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700');

html, body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 13px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-color: #FFF7E9;
}

h1, h2, h3, h4, h5, h6 {
  font-style: italic;
  margin-bottom: 2rem;
}

a {
  color: #0013FF;
}

pre {
  padding-left: 0.5em;
  border-width: 0;

  /* allows browsers that don't support CSS to see something decent */
  overflow-x: auto;
  background-color: #AEB2C3;
}

.proxy-warning {
  background-color: #729C9C;
  color: #fff4ec;
  padding: 0.5em;
}

.solaris {
  background-color: #C1C1C1;
  padding: 8px;
  box-shadow:
    0 0 0 10px #B24D7A,
    5px 5px 0 10px #57253B;
  margin: 20px 10px 30px;
}

table.values {
  min-width: 500px;
  max-width: 100%;
}
table.values th,
table.values td {
  padding: 0.3em;
}
table.values th {
  text-align: right;
  padding: 0.5em 2em;
  white-space: nowrap;
}

table.values td {
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-all;
}

.header {
  background-color: #C1C1C1;
  box-shadow:
    0px 0px 0 10px #A59F80,
    5px 5px 0 10px #5B5746;
  margin: 10px 10px 40px;
}
.header h1 { padding: 0.5em 0.2em; }

h1.main { line-height: 1; margin: 0; }

hr {
  border: dotted 2px #B24D7A;
  margin: 40px 0;
  display: block;
}

@media only screen and (max-width: 900px) {
  table td,
  table th,
  table tr {
    display: block;
    padding: 0;
  }
  table tr { margin-bottom: 0.5em; }
  html, body {
    padding: 5px;
  }

  table.values th {
    text-align: left;
    padding: 0.3em;
  }
  table.values tr { border-bottom: 0 }
}
